@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>You suck</h2>

    <p>soccer rocks. yaaaaaaaaaaaaaaaaaaaaaaaaa. there was a human who ate a spelling test and then played soccer with a iron rod so he got nailed n the butt wiht it and cried out mama mia mama mia let it go. and burped out the spelling test</p>
</div>
