@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Church Movie Database</h1>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col-lg">
                <h3>What We Provide</h3>
                <p>
                    We provide a list of movies with different church themes.  Examples would be movies about individuals of the Church Of Jesus Christ Of Latter Day Saints,
                    or produced by members of the church.
                </p>
                <p>Users have the ability to add or remove movies from the database when the real site goes live. Currently anyone has the ability to add or remove movies.</p>
                <p>
                    You can start by viewing <a asp-controller="Movies" asp-action="Index">all movies</a> in our system.  From there you can view the movie details, edit them, or
                    delete a movie.  You'll also be able to add a new movie.
                </p>
            </div>
            <div class="col-lg">
                <img src="~/images/Saints-and-Soldiers.jpg" alt="Saints & Soldiers dvd cover" />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg">
                <img src="~/images/Singles-Ward.jpg" alt="Singles Ward dvd cover" />
            </div>
            <div class="col-lg">
                <h3>Movie Types</h3>
                <p>We have movie categories ranging from action movies such as "Saints and Soldiers" to comedy movies such as "The Singles Ward"</p>
                <p>In the future we will include other movie genres such as movies for primary aged kids plus young adults.</p>
            </div>

        </div>

    </div>
    
    
</div>
